<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.freeBoard">

	<resultMap type="freeBoardVo" id="freeBoardResultMap">
		<id column="FREE_BOARD_ID" property="freeBoardId" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="FREE_BOARD_TITLE" property="freeBoardTitle" />
		<result column="FREE_BOARD_CONTENT" property="freeBoardContent" />
		<result column="CREATE_DATE" property="createDate"
			javaType="java.util.Date" />
		<result column="UPDATE_DATE" property="updateDate"
			javaType="java.util.Date" />
	</resultMap>
	
	<select id="freeBoardSelectList" parameterType="map"
		resultMap="freeBoardResultMap">
		<![CDATA[
		SELECT RNUM, FREE_BOARD.FREE_BOARD_ID, FREE_BOARD.MEMBER_NO
		    , FREE_BOARD.MEMBER_NAME
		    , FREE_BOARD.FREE_BOARD_TITLE, FREE_BOARD.FREE_BOARD_CONTENT
		    , FREE_BOARD.CREATE_DATE, FREE_BOARD.UPDATE_DATE
		FROM (  SELECT  ROWNUM RNUM, FB.FREE_BOARD_ID, FB.MEMBER_NO, FB.MEMBER_NAME, 
		            FB.FREE_BOARD_TITLE, FB.FREE_BOARD_CONTENT, FB.CREATE_DATE, FB.UPDATE_DATE
		        FROM (  SELECT  OFB.FREE_BOARD_ID, M.MEMBER_NO, M.MEMBER_NAME, 
		                    OFB.FREE_BOARD_TITLE, OFB.FREE_BOARD_CONTENT
		                    , OFB.CREATE_DATE, OFB.UPDATE_DATE
		                FROM MEMBER M, FREE_BOARD OFB
		                WHERE M.MEMBER_NO = OFB.MEMBER_NO
		                ORDER BY OFB.FREE_BOARD_ID DESC) FB
		) FREE_BOARD
		WHERE RNUM >= #{start} AND RNUM <= #{end}
		]]>
	</select>

	<select id="freeBoardSelectTotalCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM FREE_BOARD
	</select>

	<select id="freeBoardSelectOne" parameterType="int"
		resultMap="freeBoardResultMap">
		SELECT FB.FREE_BOARD_ID, FB.MEMBER_NO, M.EMAIL
		    ,M.MEMBER_NAME, FB.FREE_BOARD_TITLE, FB.FREE_BOARD_CONTENT
		    ,FB.CREATE_DATE         
		FROM FREE_BOARD FB INNER JOIN MEMBER M
		ON FB.MEMBER_NO = M.MEMBER_NO
		WHERE FB.FREE_BOARD_ID = #{freeBoardId}
	</select>
	
	<select id="freeBoardFileSelectList" parameterType="int"
		resultType="map">
		SELECT FBF.FREE_BOARD_FILE_ID as "freeBoardFileId"
			, FBF.FREE_BOARD_ID "freeBoardId"
			, FBF.ORIGINAL_FILE_NAME as "originalFileName"
		    , FBF.STORED_FILE_NAME as "storedFileName"
		    , ROUND(FBF.FREE_BOARD_FILE_SIZE/1024, 1) 
		    	as "freeBoardFileSize" 
		FROM FREE_BOARD_FILE FBF
		WHERE FBF.FREE_BOARD_ID = #{freeBoardId}
	</select>
	
	
	<insert id="freeBoardInsertOne" 
		parameterType="com.edu.freeBoard.domain.FreeBoardVo"
		useGeneratedKeys="true" keyProperty="freeBoardId">
		<selectKey keyProperty="freeBoardId" resultType="int" 
			order="BEFORE">
			SELECT FREE_BOARD_ID_SEQ.NEXTVAL
			FROM DUAL
		</selectKey>
		
		INSERT INTO FREE_BOARD
		VALUE(  FREE_BOARD_ID, MEMBER_NO, FREE_BOARD_TITLE
		    , FREE_BOARD_CONTENT, CREATE_DATE, UPDATE_DATE)
		VALUES(#{freeBoardId}, #{memberNo}, #{freeBoardTitle}, 
		    #{freeBoardContent}, SYSDATE, SYSDATE)
	</insert>
	
	<insert id="freeBoardFileInsertOne"	parameterType="map">
		INSERT INTO FREE_BOARD_FILE
			(FREE_BOARD_FILE_ID, FREE_BOARD_ID
			, ORIGINAL_FILE_NAME, STORED_FILE_NAME, FREE_BOARD_FILE_SIZE
			, CREATE_DATE, UPDATE_DATE)
		VALUES
			(FREE_BOARD_FILE_ID_SEQ.NEXTVAL, #{parentId}
			, #{originalFileName}, #{storedFileName}, #{fileSize}
			, SYSDATE, SYSDATE)
	</insert>
	
	<update id="freeBoardUpdateOne" parameterType="freeBoardVo">
		UPDATE FREE_BOARD
		SET 
			FREE_BOARD_TITLE = #{freeBoardTitle},
			FREE_BOARD_CONTENT = #{freeBoardContent},
			UPDATE_DATE = SYSDATE
		WHERE FREE_BOARD_ID = #{freeBoardId}
		AND MEMBER_NO = #{memberNo}
	</update>


	<select id="fileSelectStoredFileName" parameterType="list" resultType="map">
		SELECT FBF.FREE_BOARD_FILE_ID, FBF.STORED_FILE_NAME
		FROM FREE_BOARD_FILE FBF
		WHERE FBF.FREE_BOARD_FILE_ID IN 
		<foreach item="delFreeBoardFileId" collection="list" open="(" separator=","
			close=")">
			#{delFreeBoardFileId}
		</foreach>
		
	</select>

	<delete id="deleteFileByFreeFileIds" parameterType="list">
		DELETE FROM FREE_BOARD_FILE
		WHERE FREE_BOARD_FILE_ID IN
		<foreach item="delFreeBoardFileId" collection="list" open="(" separator=","
			close=")">
			#{delFreeBoardFileId}
		</foreach>
	</delete>

	<select id="selectFileByFreeBoardId" parameterType="int"
		resultType="map">
		SELECT FREE_BOARD_FILE_ID, STORED_FILE_NAME
		FROM FREE_BOARD_FILE
		WHERE FREE_BOARD_ID = #{freeBoardId}
	</select>

	<delete id="deleteFileByFreeBoardId" parameterType="int">
		DELETE FROM FREE_BOARD_FILE
		WHERE FREE_BOARD_ID = #{freeBoardId}
	</delete>
	
	<delete id="freeBoardDeleteOne" parameterType="map">
		DELETE FROM FREE_BOARD
		WHERE MEMBER_NO = #{memberNo}
		AND FREE_BOARD_ID = #{freeBoardId}
	</delete>
	
</mapper>