<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.member">

	<resultMap type="memberVo" id="memberResultMap">
		<id column="MEMBER_NO" property="memberNo" />
		<result column="EMAIL" property="email" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="PWD" property="password" />
		<result column="CRE_DATE" property="createdDate"
			javaType="java.util.Date" />
		<result column="MOD_DATE" property="modifiedDate"
			javaType="java.util.Date" />
	</resultMap>

	<select id="memberSelectList" resultMap="memberResultMap">
		SELECT MEMBER_NO, EMAIL,
		MEMBER_NAME, CRE_DATE
		FROM MEMBER
		ORDER BY MEMBER_NO DESC
	</select>


	<select id="memberExist" parameterType="map"
		resultMap="memberResultMap">
		SELECT MEMBER_NO, MEMBER_NAME, EMAIL
		FROM MEMBER
		WHERE EMAIL = #{email}
		AND PWD = #{pwd}
	</select>

	<insert id="memberInsertOne" parameterType="memberVo">
		INSERT INTO MEMBER
		(MEMBER_NO, EMAIL, MEMBER_NAME, PWD, CRE_DATE, MOD_DATE)
		VALUES(MEMBER_NO_SEQ.NEXTVAL, #{email}, #{memberName},
		#{password}, SYSDATE, SYSDATE)
	</insert>

	<select id="memberSelectOne" parameterType="int"
		resultMap="memberResultMap">
		SELECT MEMBER_NO, MEMBER_NAME, EMAIL, CRE_DATE
		FROM MEMBER
		WHERE MEMBER_NO = #{no}
	</select>

<!-- trim을 사용하는 경우 
	<if test="email != ''">EMAIL = #{email},</if>
	<if test="memberName != ''">MEMBER_NAME = #{memberName},</if>
	어떤 경우든 ,가 발생하는 sql구문의 경우 작성해야 한다
	아래의 update와 같이 MOD_DATE = SYSDATE 가 마지막에 있는 경우 
	trim이 존재하면 오류가 발생한다 
  -->
	<update id="memberUpdateOne" parameterType="memberVo">
		UPDATE MEMBER
		<set>
			<if test="email != ''">EMAIL = #{email},</if>
			<if test="memberName != ''">MEMBER_NAME = #{memberName},</if>
			MOD_DATE = SYSDATE
		</set>
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<delete id="memberDeleteOne" parameterType="int">
		DELETE 	FROM MEMBER 
		WHERE 	MEMBER_NO = #{value}
	</delete>

</mapper>